.board {
    height: 500px;
    width: 500px;
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-grow: 1;
}

.square {
    flex-grow: 1;
    border: 0.5px solid black;
}

/* .square:hover {
    background-color: black;
} */